<div id="home">
      <div id="index-banner" class="parallax-container down_container">
      <div class="section no-pad-bot">
        <div class="container">

          <h1 class="banner_lws header center deep-orange-text text-lighten-2">LWS Tendas</h1>
          <div class="row center">
            <div class="logo_lws header col s12 light  deep-orange darken-4"><h1>
              Tudo em tendas e Galvanização
            </h1></div>
          </div>

          <br><br>

        </div>
      </div>
      <div class="parallax"><%= image_tag "background2.jpg" %></div>
    </div>
  </div>



  <div class="container-about">
    <div class="container">
    <div class="section" id="how">


      <div class="row" >

            <div class="col s12 m6">

            <h4 class="title-harvy center" >Quem somos</h4>

            <hr>
            <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
        <div class="col s12 m6">
          <div class="slider ">
            <ul class="slides">
              <li>
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/3x3_piramidal/3X3_1.jpg?raw=true"> <!-- random image -->
                <div class="caption center-align">
                  <h3>This is our big Tagline!</h3>
                  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
              </li>
              <li>
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/piramidais/3x3_piramidal/3X3_2.jpg?raw=true"> <!-- random image -->
                <div class="caption left-align">
                  <h3>Left Aligned Caption</h3>
                  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
              </li>
              <li>
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/4,5x3/4.5x3_5.jpg?raw=true"> <!-- random image -->
                <div class="caption right-align">
                  <h3>Right Aligned Caption</h3>
                  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
              </li>
              <li>
                <img src="https://github.com/IgorVieira/lws-tendas-rubyonrails/blob/master/app/assets/images/Sanfonadas/4,5x3/4.5x3_6.jpg?raw=true"> <!-- random image -->
                <div class="caption center-align">
                  <h3>This is our big Tagline!</h3>
                  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
              </li>
            </ul>
          </div>
        </div>


      </div>

    </div>
  </div>
  </div>

<div class="container-product" id="products">
   <div class="container " >
    <div class="section" >





    <div class="row" >
       <h4  class="center white-text title-harvy">Produtos</h4>
          <hr>

          <div class="col s12 m4">
          <div class="card ">
            <div class="card-image">
              <%= image_tag "tenda1.jpg" %>
              <span class="card-title">Tenda Piramidal</span>
            </div>
            <div class="card-action">
              <a href="#"><%= link_to 'Veja mais', piramides_path%></a>
            </div>
          </div>
        </div>
         <div class="col s12 m4">

        </div>
         <div class="col s12 m4">
          <div class="card ">
            <div class="card-image">
              <%= image_tag "tenda3.jpg" %>
              <span class="card-title">Tenda Sanfonadas</span>
            </div>
            <div class="card-action">
              <a href="#"><%= link_to 'Veja mais', sanfonadas_path%></a>
            </div>
          </div>
        </div>
    </div>



  </div>
 </div>
</div>

    <div class="container-cases" id="cases">
      <div class="container">
      <div class="section" >


        <div class="row" >

              <div class="col s12 m12">

              <h4  class="center white-text title-harvy">Cases</h4>

              <hr>

              <%= image_tag "globo.png"  %>
              <%= image_tag "mcdonalds.png" %>
              <%= image_tag "github.png" %>
              <%= image_tag "facebook.png" %>

          </div>


        </div>

      </div>
    </div>
    </div>
