
  <div class="container-contacts">
    <div class="container">
    <div class="section" style="margin-top:100px;">


      <div class="row" id="contacts">
        <div class="col s12 m12">

            <div class="col s12 center">

            <h4 class="title-harvy">Contato</h4>
            <hr>
            <%= form_for @contact do |f| %>
          		<%= f.label :Nome%>
          		<%= f.text_field :name, required:true%>

          		<br>

          		<%= f.label :Email%><br>
          		<%= f.email_field :email, required:true%>

          		<br>

          		<%= f.label :Mensagem%><br>
          		<%= f.text_area :message, as: :text%><br>

          		<div class="hidden">
          			<%= f.label :nickname%><br>
          			<%= f.text_area :nickname, hint: 'leave this field blank'%><br>
          		</div>
          		<%= f.submit 'Enviar', class: 'waves-effect waves-light btn brown lighten-1'%><br>
          	<% end %>

        </div>

        </div>


      </div>

    </div>
  </div>
  </div>
