<!DOCTYPE html>
<html >
<head>
  <title>LWS Tendas</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="white" role="navigation" >
    <div class="nav-wrapper">
      <a id="logo-container" href="/" class="page-scroll brand-logo"><%= image_tag "logo.png" %></a>
      <ul class="right hide-on-med-and-down">
        <li class="page-scroll"><a href="/#how">Quem somos</a></li>
        <li class="page-scroll"><a href="/#products">Produtos</a></li>
        <li class="page-scroll"><a href="/#cases">Clientes</a></li>
        <li><%= link_to 'Contato', new_contact_path%></li>
         <li><a href="tel:+556232783779" class="fone">(62) 3278-3779</a></li>
      </ul>


      <ul id="nav-mobile" class="side-nav">
        <li class="page-scroll"><a href="/#how">Quem somos</a></li>
        <li class="page-scroll"><a href="/#products">Produtos</a></li>
        <li class="page-scroll"><a href="/#cases">Clientes</a></li>
        <li><%= link_to 'Contato', new_contact_path%></li>

      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>


<%= yield %>

  <footer class="page-footer brown lighten-1">
    <div class="container">
      <a href="" class="topo"><i class="fa fa-arrow-up fa-2x"></i></a>
      <div class="row">
        <div class="col l3 s12">
          <h5 class="white-text"><u class="this-about">
            LWS Tendas
          </u></h5>
          <ul>
           <li class="page-scroll"><a class="white-text" href="#how">Quem somos</a></li>
            <li class="page-scroll"><a class="white-text" href="#products">Produtos</a></li>
            <li class="page-scroll"><a class="white-text" href="#cases">Cases</a></li>
            <li><%= link_to 'Contatos', new_contact_path, :class => "white-text"%> </li>
          </ul>


        </div>


        <div class="col l3 s12">
          <ul>
            <li><p class="white-text">Telefones:<br>(62) 3278-3779<br>
            (62) 99665660<br>
            (62) 94795640<br>
            (62) 92079243<br>
            (62) 84084201 </p></li>
          </ul>
        </div>
        <div class="col l6 s12">
          <div id="map"></div>
                <script>
            function initMap() {
              var mapDiv = document.getElementById('map');
              var map = new google.maps.Map(mapDiv, {
                center: {lat: -16.7655761, lng: -49.2431809},
                zoom: 17
              });

              var marker = new google.maps.Marker({
                position: {lat: -16.7655761, lng: -49.2431809},
                map: map,
                title: 'LWS Tendas'
              });

            }

          </script>
          <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
              async defer></script>
        </div>

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <span class="right">Create by <a href="mailto:igor.p.r.vieira@gmail.com" target="_blank" class="blue-text text-lighten-3" >Igor Vieira</a>& <a href="mailto:gabrielgyn97@hotmail.com" target="_blank" class=" blue-text text-lighten-3">Gabriel Gonçalves</a></span>
      <span class="left">AV. JK/DO PEDRO II Qd.3 Lt.23 - Jardim Transbrasiliano - Aparecida de Goiânia</span>
      </div>
    </div>
  </footer>

</body>
</html>
